.headline {
  align-items: center;
  --sidebar-target-width: 15ch;
  --sidebar-content-min-width: 60%;
  --gutter: var(--space-s);
}

.headline__meta {
  color: var(--color-text-mod-1);
  font-size: var(--step-0);
}

.headline__heading {
  line-height: var(--line-height-compact);
}

.headline__meta .icon,
.headline__meta .icon path {
  fill: var(--color-brand);
}

.headline__picture {
  border: var(--color-border) 10px solid;
  border-radius: var(--radius-drawn-1);
}
