/* Global style overrides for cu.css */

/* Override cu.css hr styling */
hr {
  border: none;
  border-block-start: var(--stroke);
  margin-block: var(--space-l);
}


a:not([class]) {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.075lh;
}

a:not([class]):hover {
  background-color: unset;
  text-underline-offset: 0.2lh;
}

svg:not([class]) {
  width: auto;
  height: 1lh;
}

svg {
  flex-shrink: 0;
}

svg[role='img'][width][height] {
  width: revert;
  height: revert;
  color: var(--color-light);
  background: var(--color-dark);
  padding: var(--size-fluid-1);
}


/* Paragraphs: restore spacing */
p + p {
  margin-block-start: var(--space-s);
}
