<footer class="site-foot">
  <div class="center" data-center-with-text="true">
    <span>&copy; <%= Time.now.year %> Jeremy BERTRAND.</span>
    Take a look at <a href="<%= metadata.repository_url %>" target="_blank">the sources</a>!
  </div>
</footer>
